.modal {
    width: 20%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 20vh;
    left: 40%;
    z-index: 9999;
}

/* @media (min-width: 768px) {
    .modal {
        width: 50rem;
        left: calc((100% - 50rem) / 2);
    }
} */

.modal_header {
    padding: 1rem;
    background: paleturquoise;
    color: black;
}

.modal_header h1 {
    margin: 0;
    font-size: 1.25rem;
}

.modal_content {
    padding: 1rem;
}

.modal_actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}